<div class="container mt-2">
    <!-- J'affiche la liste que si elle est chargée d'où le ngIf -->
    <ng-container *ngIfElse="customers|async as listCustomers; else failureOrLoading">
        <div class="card bg-warning">
            <div class="card-header">Customers</div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th><th>Name</th><th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of customers | async">
                            <td>{{ c.id }}</td>
                            <td>{{ c.name }}</td>
                            <td>{{ c.email }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </ng-container>
    <ng-template #failureOrLoading>
        <ng-container *ngIfElse="errorMessage; else loading">
            <div  class="text-danger">
                {{errorMessage}}
            </div>
        </ng-container>
        <ng-template #loading>
            Loading...
        </ng-template>

    </ng-template>

    
    <!-- Fin du ngIf -->
</div>
